.body {
	background-color: khaki;
}
.grafisk {
	width: 200px;
	height: 200px;
	background-color: red;
	transition: all 2s ease-in-out 1s;
}

.grafisk:hover {
	width: 400px;
	height: 300px;
	background-color: yellow;
}

.list ul li ol {
	opacity: 0;
}

.list ul li:hover {
	opacity: 1;
}

.list ul li ol:hover {
	opacity: 1;
}
