* {
	margin: 0;
	padding: 0; /* avoid spaces in the body*/
}

.body {
	background-color: rgb(182, 68, 96);
}

nav {
	width: 100%;
	height: 50px;
	background-color: rgb(93, 105, 93);
}

nav ul {
	float: right;
	margin-right: 20px;
}

nav li {
	display: inline-block;
	margin-top: 10px;
}

nav li a {
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	text-transform: uppercase;
	font-family: "Noto Serif", serif;
	font-weight: 200;
}

nav li :hover {
	background-color: white;
	color: rgb(93, 105, 93);
	text-decoration: none;
	border-radius: 10px;
}

.welcome {
	width: 250px;
	height: 150px;
	background-color: tomato;
	font-family: "Arizonia", cursive;
	font-size: 20px;
	color: white;
	margin: auto;
	margin-top: 5px;
}

.second_div {
	width: 250px;
	height: 150px;
	background-color: tomato;
	font-family: "Arizonia", cursive;
	font-size: 20px;
	color: white;
	margin: auto;
	margin-top: 30px;
	border: 4px solid yellow;
}

.second_div input {
	margin: 30px 30px;
}

.second_div button {
	width: 60px;
	position: relative;
	left: 80px;
}

@media only screen and (min-width: 768px) and( max-width: 1024px) {
	nav {
		height: 60px;
	}

	nav ul {
		margin-right: 50px;
	}

	nav li a {
		font-size: 27px;
		text-decoration: none;
		font-weight: 300;
	}

	.welcome {
		width: 280px;
		height: 170px;

		font-size: 30px;
		color: white;
		margin-top: 30px;
	}

	.second_div {
		width: 280px;
		height: 170px;
		font-size: 30px;
		color: white;
		margin: auto;
		margin-top: 30px;
		border: 5px solid yellow;
	}

	.second_div input {
		margin: 30px 30px;
	}

	.second_div button {
		width: 70px;
		position: relative;
		left: 80px;
	}
}

@media only screen and (min-width: 1025px) {
	.welcome {
		width: 400px;
		height: 250px;

		font-size: 35px;
		color: white;
		margin-top: 30px;
	}

	.second_div {
		width: 400px;
		height: 250px;
		font-size: 35px;
		color: white;
		margin: auto;
		margin-top: 30px;
		border: 5px solid yellow;
	}

	.second_div input {
		margin: 30px 30px;
	}

	.second_div button {
		width: 100px;
		position: relative;
		left: 80px;
	}
}
